docs/workflows/Web Search OpenAI.json
{
  "name": "Web Search OpenAI",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-trigger",
      "name": "Workflow Trigger",
      "type": "n8n-nodes-base.workflowTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $json || {};\nconst inputMessage = (payload['message '] || payload.message || payload.query || '').trim();\nconst fallback = (payload.prompt || payload.latest || '').trim();\nconst query = inputMessage || fallback;\nif (!query) {\n  throw new Error('No query provided to Web Search OpenAI workflow.');\n}\nreturn [{ json: { query, locale: payload.locale || 'en', original: payload } }];"
      },
      "id": "prepare-query",
      "name": "Prepare Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        80
      ]
    },
    {
      "parameters": {
        "url": "https://api.tavily.com/search",
        "method": "POST",
        "sendBody": true,
        "jsonParameters": true,
        "bodyParametersJson": "={{ JSON.stringify({ api_key: $env.TAVILY_API_KEY, query: $json.query, search_depth: 'advanced', max_results: 5, include_answer: True }) }}",
        "options": {
          "response": "json"
        }
      },
      "id": "tavily-search",
      "name": "Tavily Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2.1,
      "position": [
        0,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $json || {};\nconst results = Array.isArray(data.results) ? data.results : [];\nif (!results.length) {\n  return [{ json: { output: 'No web results were returned.', raw: data } }];\n}\n\nconst lines = [];\nresults.slice(0, 5).forEach((r, idx) => {\n  const title = r.title || r.url || 'Result';\n  const url = r.url || r.href || '';\n  const snippet = (r.content || r.snippet || '').replace(/\\s+/g, ' ').trim();\n  const price = r.price || '';\n  const domain = url ? (new URL(url)).hostname.replace(/^www\\./, '') : '';\n  const parts = [`${idx + 1}. ${title}${domain ? ' (' + domain + ')' : ''}`];\n  if (price) parts.push(`Price: ${price}`);\n  if (snippet) parts.push(snippet);\n  if (url) parts.push(url);\n  lines.push(parts.join('\n'));\n});\n\nconst output = lines.join('\n\n');\nreturn [{ json: { output, results: results.slice(0, 5) } }];"
      },
      "id": "format-results",
      "name": "Format Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        80
      ]
    }
  ],
  "connections": {
    "Workflow Trigger": {
      "main": [
        [
          {
            "node": "Prepare Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Query": {
      "main": [
        [
          {
            "node": "Tavily Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily Search": {
      "main": [
        [
          {
            "node": "Format Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  },
  "active": false,
  "versionId": "f1f8b2d1-8d77-4b3b-8f70-1234567890ab",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "7LE3Mquxxp4jPX4E",
  "tags": []
}